body {
    margin: 0;
    padding: 0;
}

.playlists {
    padding: 1rem;
}

.inputDiv {
    padding: 0 0 1rem 0.5rem ;
    width: 20rem;
}

.inputDiv:hover {
    box-shadow: 5px 3px 3px var(--off-white);
}

.input {
    width: 15rem;
    padding: 0.5rem;
    border: 1px solid var(--primary-dark);
    border-radius: 3px;
}
