body {
    margin: 0;
    padding: 0;
}

.videoPlayerAndComments {
    margin: auto;
    width: 100%;
}

.videoPlayer {
    padding: 0.5rem;
}

.videoArea {
    width: 62.5%;
    height: 73.5vh;
}

.commentSection {
    border: 2px solid black;
    width: fit-content;
}

.comments {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.comment {
    width: 20rem;
    border-bottom: 1px solid var(--primary-dark);
    padding: 0.5rem;
}

.playlistSection {
    background-color: white;
    padding: 1rem;
    border: 2px solid black;
    position: absolute;
    top: 10rem;
    left: 40%;
}

.commentSection {
    background-color: white;
    padding: 1rem;
    border: 2px solid black;
    position: absolute;
    top: 10rem;
    left: 40%;
}

.commentInput {
    width: 80%;
    border: none;
    border-bottom: 1px solid black;
    padding: 1rem;
}

.commentInput:focus {
    outline-style: solid;
    border: none;
    border-bottom: 1px solid yellow;
}