.cardPlaylist {
    width: 36%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid black;
}

.playlistImg {
    width: 25rem;
}

.cardImg {
    width: 100%;
}