.searchBar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.searchInput {
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    min-width: 30rem;
    max-width: 70%;
    border-radius: 0.5rem;
}

.categoriesContainer {
    display: block;
    width: 80%;
    margin: auto;
}

.categoryActive {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 3px solid var(--primary-dark);
    background-color: var(--primary-dark);
    color: var(--white);
    cursor: pointer;
}

.categoryBtn {
    margin: 0.5rem 0.5rem ;
}

.videosDisplay {
    margin-left: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

@media only screen and (max-width: 480px) {
    .videosDisplay {
        margin: auto;
    }
}