.homePage {
    font-family: 'Poppins', sans-serif;
}

.heroImg {
    max-width: 100%;
}

.heroText {
    font-size: 88px;
    font-weight: 600;
    color: var(--primary-dark);
    text-align: center;
}

.featuredProductsHead {
    text-align: center;
    text-decoration: underline;
}

.faeturedProductsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
    .heroText {
        font-size: 100;
        top: 4rem;
        right: 2rem;
    }

    .exploreBtn {
        width: 5rem;
        top: 7rem;
        right: 2rem;
    }
}